@font-face {
    font-family: 'chillax';
    src: url('/fonts/Chillax-Variable.ttf');
}

:root {
    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(300 0% 4%);
    --bg-light: hsl(0 0% 9%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 39%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(0 66% 75%);
    --secondary: hsl(183 52% 57%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'chillax';
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-muted);
    gap: 5px;
    width: fit-content;
    padding: 1.2rem 0 1.2rem 0;
    border-radius: 10px;
    border-top:1px solid var(--border);
    gap: 12px;
    background: var(--bg-light);

    .user-div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        padding: 0 1.2rem 0 1.2rem;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .image-section {
        position: relative;
        img {
            object-fit: cover;
            width: 400px;
        }
        #big-like {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(0deg);
            color: var(--primary);
            font-size: 0rem;
            transition: font-size 0.1s ease-in,
                        rotate 0.1s ease-in;
        }
    }

    .icons-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        padding: 0 1.2rem 0 1.2rem;
        
        .left {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            #like {
                color: var(--primary);
                z-index: 2;
            }

            #like-fill {
                color: var(--primary);
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;

            }
        }
    }
}