@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi-Variable.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "satoshi";
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(244, 162, 97);
  padding-top: 5rem;
}
.container .todo-app {
  background-color: rgb(255, 224, 195);
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 32px;
  box-shadow: 12px 12px 32px rgba(209, 161, 121, 0.7), -12px -12px 32px rgba(255, 255, 255, 0.7), inset 1px 1px 2px rgba(255, 255, 255, 0.7), inset -1px -1px 2px rgba(209, 161, 121, 0.7);
  gap: 1rem;
}
.container .todo-app .title {
  width: 100%;
  color: rgb(74, 47, 34);
  padding: 1.5rem 0;
  display: grid;
  place-items: center;
}
.container .todo-app .title h1 {
  font-size: 5rem;
}
.container .todo-app .input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.container .todo-app .input input {
  width: 100%;
  padding: 2rem 4.4rem 2rem 1rem;
  background: none;
  border: none;
  border-radius: 32px;
  color: rgb(61, 42, 31);
  font-size: 1.5rem;
  box-shadow: 6px 6px 12px rgba(209, 161, 121, 0.7), -6px -6px 12px rgba(255, 255, 255, 0.7), inset 2px 2px 2px rgba(255, 255, 255, 0.7), inset -2px -2px 2px rgba(209, 161, 121, 0.7);
}
.container .todo-app .input input::placeholder {
  color: rgb(176, 114, 82);
}
.container .todo-app .input input:focus {
  outline: none;
  background: none;
}
.container .todo-app .input button {
  position: absolute;
  right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 216, 181);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0.1rem;
  box-shadow: 2px 2px 4px rgba(209, 161, 121, 0.7), -2px -2px 4px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px rgba(209, 161, 121, 0.7);
  cursor: pointer;
  transition: 0.2s ease;
}
.container .todo-app .input button img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.container .todo-app .input button:active {
  background-color: rgb(235, 185, 155);
  box-shadow: inset 2px 2px 6px rgba(209, 161, 121, 0.5), inset -2px -2px 6px rgba(255, 255, 255, 0.6);
  scale: 0.96;
}
.container .todo-app ul {
  list-style: none;
  padding: 1rem 1rem;
  box-shadow: 6px 6px 12px rgba(209, 161, 121, 0.7), -6px -6px 12px rgba(255, 255, 255, 0.7), inset 2px 2px 2px rgba(255, 255, 255, 0.7), inset -2px -2px 2px rgba(209, 161, 121, 0.7);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  display: none;
}
.container .todo-app ul li {
  padding: 0.5rem 0;
  padding-left: 3.5rem;
  padding-right: 3rem;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container .todo-app ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 216, 181);
  border-radius: 50%;
  border: 1px solid rgb(192, 156, 123);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7), -2px -2px 2px rgba(209, 161, 121, 0.7);
}
.container .todo-app ul li.active::before {
  background-color: greenyellow;
}
.container .todo-app ul li.active {
  text-decoration: line-through;
  color: rgba(61, 42, 31, 0.493);
}
.container .todo-app ul button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 180, 162);
  padding: 0.5rem;
  border-radius: 9px;
  box-shadow: 2px 2px 4px rgba(209, 161, 121, 0.7), -2px -2px 4px rgba(255, 255, 255, 0.7), inset 1px 1px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px rgba(209, 161, 121, 0.7);
  user-select: none;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}
.container .todo-app ul button img {
  pointer-events: none;
  width: 18px;
}
.container .todo-app ul button:hover {
  background-color: rgb(255, 160, 138);
}
.container .todo-app ul button:active {
  background-color: rgb(230, 140, 120);
}/*# sourceMappingURL=syle.css.map */